:root {
    scroll-behavior: smooth;

    --color-main: rgb(3, 14, 18);
    --color-secondary: rgb(8, 33, 43);
    --color-txt-main: rgb(6, 161, 223);
    --color-txt-secondary: rgb(224, 173, 92);

    --border-radius: 2vmin;
    --border-radius-small: 1vmin;

    --header-height: 80px;
    --margin: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: "Sintony";
}

input, textarea {
    padding: 5px;
    margin: 0 0 10px 0;
    resize: none;
    border: none;
    border-radius: var(--border-radius-small);
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: var(--border-radius-small);
} 

textarea {
    height: 100%;
}

h1, h2, h3 {
    margin: 10px 0 15px 0;
    padding: 0;
}

h1 {
    font-family: 'Acme';
    font-size: 50px;
    color: var(--color-txt-main)
}
h2 {
    color: var(--color-txt-main)
}
h3 {
    color: var(--color-txt-secondary)
}

label h2 {
    margin: 0;
}

span {
    font-size: 10px;
}
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 0 30px;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 10px 10px var(--color-main));
    border-bottom: 1px solid var(--color-main);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

main {
    margin-top: 80px;
    flex: 1;
    background-color: var(--color-main);
}
.note-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.inputs {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: calc(var(--margin) + var(--header-height));
    height: 400px;
    grid-row-start: 1;
    grid-column-start: 1;
    min-width: 200px;
    width: auto;
    background-color: var(--color-secondary);
    padding: 15px 10px;
    gap: 10px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-txt-main);
}

.notes-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    gap: 30px;
    margin: var(--margin) 0;
}
.notes {
    background-color: var(--color-secondary);
    border-radius: 2vmin;
    padding: 15px;
    word-break: break-all;
}

.note:first-child {
    margin-top: -10px;
}
.note {
    margin-top: 40px;
}

.note-text {
word-wrap: break-word;
}

.h-line {
    height: 1px;
    background-color: grey;
    width: 100%;
    margin: 10px 0;
}
footer {
    height: 60px;
    background-color: var(--color-secondary);
}